/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2; */

/*facebook: rgb(59, 89, 152)*/

.errorCard {
  background: #e91429;
  padding: 13px;
  margin-bottom: 18px;
  color: white;
  width: 450px;
}

.errorCard span {
  display: flex;
  justify-content: center;
  margin-left: -10px;
  align-items: center;
  gap: 12px;
}

.google-btn {
  width: 450px;
  height: 42px;
  border-radius: 20px;
  border: #6a6a6a 1px solid;
  background: transparent;
  cursor: pointer;
  color: #6a6a6a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.btn-text {
  float: right;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 3px;
}

.btn-text img {
  height: auto;
  max-width: 16px;
}

.btn-text b {
  font-family: 'Inter';
}

.google-btn:hover {
  color: black;
  border-color: black;
}

.trace {
  margin: 12px 0px 20px;
  flex: 1 1 0%;
  border-top: 1px solid rgb(217, 218, 220);
}

.or {
  flex: 0.3 1 0%;
  align-self: center;
  text-align: center;
  line-height: 1px;
  font-weight: 700;
  font-size: 12px;
  background: rgb(255, 255, 255);
  text-transform: uppercase;
}

.orContainer {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.container .header span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container form .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 450px;
  height: 49px;
  border: 1px solid #303030;
  border-radius: 12px;
  margin-bottom: 12px;
}

.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #303030;
}

.container form .button {
  width: 450px;
  height: 48px;
  background: #303030;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container form .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container form .footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.container form .footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #07a8ff;
}
